@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#home {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#home .card {
  display: flex;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .card .image {
  position: relative;
  width: 200px;
  height: 200px;
}
#home .card .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 1s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-delay: 1s;
  overflow: hidden;
}
#home .card .image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2F2F2F;
  opacity: 0;
  border-radius: 9999px;
  transition: 0.5s;
  cursor: pointer;
}
#home .card .image .overlay p {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}
#home .card .image:hover img {
  transform: rotate(360deg);
}
#home .card .image:hover .overlay {
  opacity: 0.6;
}
#home .card .image:hover .overlay p {
  top: 50%;
}
#home .card h3 {
  font-size: 50px;
  letter-spacing: 1px;
  transition: 0.3s;
  animation-name: stretch;
  animation-duration: 1s;
  animation-delay: 1s;
  margin-top: 10px;
}
#home .card h3:hover,
#home .card h6:hover {
  letter-spacing: 15px;
}
#home .card h6 {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: 1px;
}
#home .card #title {
  animation-name: stretch;
  animation-duration: 1s;
  animation-delay: 1.5s;
}
#home .card #title2 {
  animation-name: stretch;
  animation-duration: 1s;
  animation-delay: 2s;
}

@keyframes stretch {
  0% {
    letter-spacing: 1px;
  }
  50% {
    letter-spacing: 15px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#about .container {
  font-size: 4vw;
}
#about .container .col-2 {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  justify-content: center;
}
#about .container .col-2 img {
  width: 20%;
  z-index: 5;
}
#about .container .col-2 .about-para {
  background-color: #5b5b5b;
  box-shadow: 4px 4px 4px #000;
  padding: 15px;
  margin-left: -2px;
  position: relative;
}
#about .container .col-2 .about-para p {
  transition: 4s;
  font-size: 25px;
}
#about .container .col-2 .about-para p span {
  text-decoration: underline;
}

.first,
.second {
  position: absolute;
  top: 80vh;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.first i,
.second i {
  font-size: 25px;
}

.first {
  left: 0;
}

.second {
  right: 0;
}

@keyframes scroll {
  0% {
    top: 80vh;
  }
  50% {
    top: 78vh;
  }
  100% {
    top: 80vh;
  }
}
#tools .container {
  margin-top: 100px;
}
#tools .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#tools .items .item img {
  width: 30%;
}
#tools .items .item .item-text {
  width: 60%;
}
#tools .items .item .item-text h3 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px;
  text-transform: uppercase;
}
#tools .items .item .item-text p {
  font-size: 18px;
}
#tools .items .item:nth-child(2) .item-text,
#tools .items .item:nth-child(4) .item-text {
  text-align: right;
}
#portfolio .container #slideshow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .container #slideshow .slider {
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
}
#portfolio .container #slideshow .slider .sliding {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  transition: 1s;
}
#portfolio .container #slideshow .slider .sliding .slide {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered {
  width: 49%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered a {
  height: 100%;
  width: 100%;
  z-index: 800;
  text-decoration: none;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered .overlay {
  position: absolute;
  z-index: 900;
  top: 100%;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered .overlay h6 {
  font-size: 20px;
}
#portfolio .container #slideshow .slider .sliding .slide .hovered:hover .overlay {
  top: 0;
}
#portfolio .container #slideshow .slider .sliding .slide:first-child {
  margin-right: 20px;
}
#portfolio .container #slideshow span {
  margin: 15px;
  cursor: pointer;
  border-radius: 9999px;
  display: grid;
  place-items: center;
  border: 4px solid #cacaca;
}
#portfolio .container #slideshow span svg {
  font-size: 25px;
}
#portfolio .container #slideshow span:hover svg {
  animation-name: arrow;
  animation-duration: 1s;
}

@keyframes arrow {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #cacaca;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body .row {
  width: 70%;
  margin: 0 auto;
}

#blackout-right {
  left: 50%;
}
#blackout-right img {
  right: 90%;
}

#blackout-left {
  right: 50%;
}
#blackout-left img {
  left: 90%;
}

#blackout-left,
#blackout-right {
  width: 100vw;
  height: 100vh;
  background-color: #1E1E1E;
  z-index: 555555;
  position: fixed;
  overflow: hidden;
  top: 0;
  transition: 0.7s;
}
#blackout-left img,
#blackout-right img {
  position: absolute;
  width: 20%;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#navigation {
  height: 100vh;
  width: 100vw;
  background-color: #1E1E1E;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.8s;
}
#navigation p {
  color: #cacaca;
  font-size: 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
#navigation p i {
  display: none;
}
#navigation p:not(:last-child) {
  margin-bottom: 20px;
}
#navigation p:hover i {
  display: initial;
}

section {
  background-color: #2F2F2F;
  height: 100vh;
  position: relative;
  padding-left: 0;
  transition: 2s;
}

header {
  padding-top: 50px;
}
header .nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}
header .nav .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
header .nav div {
  cursor: pointer;
  z-index: 300;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60px;
  width: 60px;
  position: relative;
}
header .nav div span {
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.3s;
  position: absolute;
  opacity: 0;
  width: 100%;
  bottom: -20%;
}
header .nav div i {
  color: #cacaca;
  font-size: 50px;
  transition: 0.2s;
  width: 100%;
}
header .nav .clicked {
  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
}
header .nav .clicked div {
  width: 100%;
  height: 13%;
  background-color: #cacaca;
  position: absolute;
  border-radius: 9999px;
}
header .nav .clicked #first {
  top: 0%;
  transition: 0.4s;
}
header .nav .clicked #second {
  transition: 0.4s;
  top: 40%;
}
header .nav .clicked #third {
  top: 80%;
  transition: 0.4s;
}

main .container h1 {
  font-size: 6vw;
}

@media only screen and (max-width: 1500px) {
  body .row {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  #navigation p {
    font-size: 7vw;
  }
}
@media only screen and (max-width: 770px) {
  * {
    user-select: none;
  }

  #blackout-left img,
#blackout-right img {
    width: 40%;
  }

  #blackout-right img {
    right: 80%;
  }

  #blackout-left img {
    left: 80%;
  }

  #navigation p {
    font-size: 9vw;
  }

  #about .container .col-2 img {
    display: none;
  }
  #about .container .col-2 .about-para img {
    display: initial;
  }

  #tools .container .items .item {
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  #tools .container .items .css img,
#tools .container .items .sass img {
    order: 1;
  }
  #tools .container .items .css .item-text,
#tools .container .items .sass .item-text {
    text-align: center;
    order: 2;
    width: 75%;
  }
}
@media only screen and (max-width: 500px) {
  #home .card img,
#home .card h3,
#home .card #title,
#home .card #title2 {
    animation-name: none;
    pointer-events: none;
  }

  #tools .container .items .item .item-text {
    width: 90%;
  }

  section .first,
section .second {
    display: none;
  }
}