@import "home";
@import "about";
@import "tools";
@import "portfolio";
@import "contact";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-font: 'Montserrat', sans-serif;
$light-gray: #cacaca;
$light-black: #1E1E1E;
$dark-gray: #2F2F2F;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $light-gray;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar{
  display: none;
}
body{
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  .row{
    width: 70%;
    margin: 0 auto;
  }
}
#blackout-right{
  left: 50%;
  img{
    right: 90%;
  }
}
#blackout-left {
  right: 50%;
  img{
    left: 90%;
  }
}
#blackout-left,
#blackout-right{
  width: 100vw;
  height: 100vh;
  background-color: $light-black;
  z-index: 555555;
  position: fixed;
  overflow: hidden;
  top: 0;
  transition: 0.5s;
  img{
    position: absolute;
    width: 20%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
}
#navigation{
  height: 100vh;
  width: 100vw;
  background-color: $light-black;
  position: fixed;
  left: 100%;
  top: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.8s;
  p{
    color: $light-gray;
    font-size: 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    i{
      display: none;

    }
  }
  p:not(:last-child){
    margin-bottom: 20px;
  }
  p:hover i{
    display: initial;
  }
}
section{
  background-color: $dark-gray;
  height: 100vh;
  position: relative;
  padding-left: 0;
  transition: 2s;
}
header{
  padding-top: 50px;
  .nav{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    .hamburger{
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
    div{
      cursor: pointer;
      z-index: 300;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: 60px;
      width: 60px;
      position: relative;
      span{
        font-size: 15px;
        text-transform: uppercase;
        transition: 0.3s;
        position: absolute;
        opacity: 0;
        width: 100%;
        bottom: -20%;
      }
      i{
        color: $light-gray;
        font-size: 50px;
        transition: 0.2s;
        width: 100%;
      }
    }
    .clicked {
      width: 90%;
      height: 90%;
      position: relative;
      overflow: hidden;
      div {
        width: 100%;
        height: 13%;
        background-color: $light-gray;
        position: absolute;
        border-radius: 9999px;
      }

      #first {
        top: 0%;
        transition: 0.4s;
      }

      #second {
        transition: 0.4s;
        top: 40%;
      }

      #third {
        top: 80%;
        transition: 0.4s;
      }
    }
  }
}
main{
  .container{
    padding-top: 30px;
    h1{
      font-size: 6vw;
    }
  }
}
@import "queries";
